@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  background: #06283d;
  color: white;
}
.fs-xxl {
  font-size: 10rem;
}
.fs-grade {
  font-size: 5rem;
}
.fs-day {
  font-size: 4rem;
}
@media (max-width: 992px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1545193544-312983719627?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
  }
}
